:root{
    --introModal-border-radius:16px;
    --introModal-margin:24px;
    --introModal-max-width:37%;
    --game-description-margin:20px;
    --game-description-font-size:16px;
    --start-game-button-background-color:rgb(12, 107, 174);
    --start-game-button-padding:16px 32px;
    --start-game-button-margin:16px;
    --start-game-button-border-radius:8px;
    --start-game-button-font-size:24px;
    --title-gap:4px;
    --game-title-padding:12px;
    --game-description-font-size-title:32px;
    --game-description-line-height:1.8;
    --start-game-hover-background-color:rgb(24,24,24);
    
}